@import "tailwindcss";

.edge-label-container {
  z-index: 10;
  cursor: pointer;
}

.edge-label-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background: #3b82f6;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  position: relative;
}

.slack-renderer {
  position: absolute;
  top: 25%;
  left: -20;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 255, 106);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 5px;
  border: .5px solid rgb(153, 153, 153);
}

@utility edge-name {
  @apply text-xl;
  line-height: 1;
  margin-bottom: 2px;
}

@utility edge-duration {
  @apply text-lg;
  line-height: 1;
}

.critical-edge {
  background: #ef4444;
}
.react-flow__edge-path {
  fill: none;
}

.react-flow__edge-path.animated {
  stroke-dasharray: 5;
  animation: dashdraw 0.5s linear infinite;
}

@keyframes dashdraw {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}